
{% load static %}


{% block content %}




    <header class="header_section">
      <div class="header_top">
        <div class="container-fluid header_top_container">
          <a class="navbar-brand " href="index.html"> Morteza<span>Biouki</span> </a>
          <div class="contact_nav">
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                Call : +98 09362658960
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                morteza.biouki@gmail.com
              </span>
            </a>
          </div>
          <div class="social_box">

            </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand navbar_brand_mobile" href="index.html"> Tro<span>Weld</span> </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'blogs:posts' %}">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about:about' %}"> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'portfolio:portfolio' %}">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact:contact' %}">Contact Us</a>
                </li>

                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
  {% endblock %}